* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #080808;
    color: #fff;
}

#header{
    text-align: center;
}

.logo{
    height: 200px;
    width: 200px;
}